<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LinneBot</title>
    <link rel="icon" href="/static/images/cokeshakey.gif">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="/static/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="header-left">
            <img id="cokeshakey" src="/static/images/cokeshakey.gif" style="height: 30px;">
            <a href="/"><b>LinneBot</b></a>
        </div>
        <div class="header-right">
            <a class="link" href="/">Home</a>
            <a class="link" href="/commands">Commands</a>
        </div>
    </header>

    <div class="main-content">
        <h1>Channel not found</h1>
        <img id="catnotl" src="https://cdn.7tv.app/emote/635c919e139df25e02d6801d/3x.gif" style="max-width: 100px">
        <a class="hyperlink" href="/commands">Back to commands</a>
    </div>
</body>
</html>
