<meta charset="UTF-8">
<title>LinneBot</title>
<link rel="icon" href="/static/images/cokeshakey.gif">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="/static/css/common.css" rel="stylesheet">
