<header>
  <div class="header-left">
    <img id="cokeshakey" src="/static/images/cokeshakey.gif" style="height: 30px;">
    <a href="/"><b>LinneBot</b></a>
  </div>
  <div class="header-right">
    <a class="link" href="/">Home</a>
    <a class="link" href="/commands">Commands</a>
  </div>
</header>
<script src="/static/js/cokeshakey.js"></script>
